FROM <%= config[:image] %>

<% if @env %>
  <% @env.each do |k,v| %>
ENV <%= k %> <%= v %>
  <% end %>
<% end %>

<% if @run %>
  <% @run.each do |v| %>
RUN <%= v %>
  <% end %>
<% end %>

RUN \
  apt-get update && \
  apt-get -y install sudo curl tar && \
  curl -L https://www.getchef.com/chef/install.sh | bash && \
  ln -s /opt/chef/bin/chef-client /bin/chef-client && \
  apt-get clean autoclean
